@using WebApplicationDemo.Models.Northwind;
@model List<Employee>

<div class="row">
    <div class="col">
        <h1>Employeers list</h1>
        <hr />
        <br />
        <table class="table table-striped">
            <thead>
                <tr>
                    <td><b>EmployeeID</b></td>
                    <td><b>Full Name</b></td>
                    <td><b>Title</b></td>
                    <td><b>City</b></td>
                    <td><b>Country</b></td>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.EmployeeID</td>
                        <td>@item.FirstName @item.LastName</td>
                        <td>@item.Title</td>
                        <td>@item.City</td>
                        <td>@item.Country</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<hr>
<br>